@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Poetsen+One&display=swap');


.poetsenfont {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.carouselh1 {
    font-size: 5rem;
}

.fontgreencolor {
    color: #032f2f;
}

.carouselbtn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgb(3, 47, 47);
    color: white;
}

.carouselbtn:hover {
    background-color: rgba(70, 220, 220, 0.8);
    color: black;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
}

.mb200 {
    margin-bottom: 130px;
}

.manufacturingContainer {
    background-image: url(assets/images/Process/inspection.jpeg);
    background-repeat: no-repeat;
    /* background-position: bottom; */
    background-size: 100vw 100vh;
    /* backdrop-filter: blur(12px); */
}

.manubgimg {
    background-image: url(assets/images/demo3.jpg);
}

.textjustify {
    text-align: justify;
}

.footertext {
    color: #9ed4d4;
    font-family: "Poetsen One", sans-serif;
    /* font-family:"Cormorant Garamond", serif; */
    font-size: 14px;
}

.footertext:hover {
    color: white;
    scale: 1.08;
}

.zoom-in-zoom-out {
    animation: zoom-in-zoom-out 1s ease-out;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.4, 0.4);
    }

    50% {
        transform: scale(0.4, 0.4);
    }

    100% {
        transform: scale(1, 1);
    }
}

.wordspace {
    word-spacing: normal;
}

.gallery-menu {
    text-align: center;
}

.gallery-menu li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all .5s ease;
}

.gallery-item .item {
    /*width:303px;*/
    float: left;
    margin-bottom: 10px;
}

.breadcrumbstyle {
    border: 2px solid rgb(9, 78, 78);
    padding: 5px 15px;
    border-radius: 0px 20px 20px 0px;
    background-color: #032f2f;
    text-decoration: none;
    color: white;
    font-family: "Poetsen One", sans-serif;
}

.breadcrumbsecondstyle {
    padding: 5px 15px;
    border-width: 2px 2px 2px 0px;
    border-style: solid;
    border-color: rgb(9, 78, 78);
    border-radius: 0px 20px 20px 0px;
    text-decoration: none;
    color: rgb(128, 128, 128);
    font-family: "Poetsen One", sans-serif;
    margin-left: -12px;
}

.breadcrumbstyle:hover {
    background-color: rgba(3, 46, 46, 0.3);
}

.beautyFiber {
    box-shadow: 1px 1px 3px 3px rgba(3, 47, 47, 0.8);
    padding: 15px;
    background-color: rgba(202, 255, 255, 0.2);
    /* background-color: rgba(179, 255, 255, 0.2); */
    border-radius: 20px;
}

.borderbox {
    box-shadow: 0.5px 0.5px 2px 2px rgba(106, 106, 106, 0.8);
    padding: 7px;
    background-color: white;
    border-radius: 5px;
}

@media only screen and (max-width: 500px) {
    .carouselh1 {
        font-size: 3rem;
        margin-bottom: 25px;
    }
}

.bgprimary {
    background-color: #032f2f;
}


/*** Products ***/
.product {
    background-size: auto;
}

.owl-carousel img {
    width: auto;
    height: 250px;
}

.product-carousel .owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.product-carousel .owl-nav .owl-prev,
.product-carousel .owl-nav .owl-next {
    margin: 0 10px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #032f2f;
    border-radius: 55px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .15);
    font-size: 25px;
    transition: .5s;
}

.product-carousel .owl-nav .owl-prev:hover,
.product-carousel .owl-nav .owl-next:hover {
    background: #FFFFFF;
    color: #032f2f;
}

.mt-n5 {
    margin-top: -2rem;
}